#body {
  width: 100%;
  height: 100%;
  background-color: #000;
  
  background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent), radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
}

#canvas {
  position: fixed;
  width: 100%;
  height: 100%;
}

#about{
  
  color: white ;
  background-color: #093b3d;
  font-size: 150%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  height: 150%;
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 20%;
  opacity: 90%;

}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
