#body {
  width: 100%;
  height: 100%;
  background-color: #000;
  
  background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent), radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
}

#canvas {
  position: fixed;
  width: 100%;
  height: 100%;
}

#about{
  color: #000;
  font-size: 200%;
  align-self: center;
  padding-top: 7%;
  padding-left: 50%;

}

