

.body {
    width: 100%;
    height: 100%;
    background-color: #000;
    
    background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent), radial-gradient(circle at 20% 80%, black, transparent);
  }
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
  
#menu li{
  display: inline;
  
 
}
#menu i{
  
  color: rgb(158, 184, 190);
}

#menu i:hover{
  color: #ffffff;
  
}


#header{
  z-index: 1;height: auto; width: 100%; position:fixed ; background-color: black;
}
#headername{
 color: white; font-weight: 800; padding-left: 3%;font-size: 1.5em;
}

#atag
{
  
}