

.body {
    width: 100%;
    height: 100%;
    background-color: #191b1c ;
    
  }
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
  
#menu li{
  display: inline;
  
 
}
#menu i{
  
  color: grey;
}

#menu i:hover{
  color: #ffffff;
  
}


#header{
  z-index: 1;height: auto; width: 100%; position:fixed ; background-color: #141414 ;
}
#headername{
 color: white; font-weight: 800; padding-left: 3%;font-size: 1.5em;
}
.card {
  /* Add shadows to create the "card" effect */

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border: #191b1c;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  background-color: #191b1c ;
}